.service-area {
  padding: 110px 0;
  background: linear-gradient(180deg, #eef2ff, #f8fafc);
  font-family: "Jost", "Plus Jakarta Sans", sans-serif;
  opacity: 0;
  transform: translateY(80px);
}

.service-show {
  opacity: 1;
  transform: translateY(0);
  transition: all 3s ease;
}

/* HEADER – SAME AS HOME */
.service-header {
  text-align: center;
  max-width: 720px;
  margin: 0 auto 70px;
}

.section-tag {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2563eb;
}

.service-header h2 {
  font-size: 38px;
  font-weight: 800;
  color: #0f172a;
  margin: 14px 0;
}

.service-header p {
  font-size: 15px;
  color: #475569;
  line-height: 1.7;
}

.highlight {
  position: relative;
  color: #10b981;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 8px;
  background: rgba(16, 185, 129, 0.25);
  z-index: -1;
  border-radius: 6px;
}

/* GRID */
.service-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 70px;
  /* align-items: center; */
}

/* LEFT */
.service-left img {
  width: 100%;
  border-radius: 18px;
}

.service-buttons {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

/* BUTTONS – SAME AS HOME */
/* ===================== */
/* BUTTONS */
/* ===================== */

.service-buttons {
  display: flex;
  gap: 18px;
  margin-top: 30px;
}

.btn-red,
.btn-dark {
  padding: 16px 44px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-radius: 0 30px 30px 30px;
  box-shadow: 1px 1px 30px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.btn-red {
  background: #10b981;
}

.btn-dark {
  background: #0b1f3a;
  border-radius: 30px 0 30px 30px;
}

.btn-red:hover,
.btn-dark:hover {
  transform: translateY(-5px);
  background: linear-gradient(135deg, #2563eb, #14b8a6);
}

/* RIGHT */
.service-right {
    margin-top: 2%;
}

.service-right h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 42px;
    font-weight: 800;
    font-family: "jost";
    color: #0b1f3a;
    margin-bottom: 26px;
}

.service-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.service-lists li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-family: "jost";
    margin-bottom: 15px;
    color: #0f172a;
}

/* ICON STYLE – SAME AS HOME */
.service-lists li svg {
  color: #22c55e;
  font-size: 15px;
}

/* TABLET */
@media (max-width: 1024px) {
  .service-grid {
    grid-template-columns: 1fr;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .service-area {
    padding: 80px 0;
  }

  .service-header h2 {
    font-size: 28px;
  }

  .service-lists {
    grid-template-columns: 1fr;
  }

  .service-buttons {
    flex-direction: column;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
    text-align: center;
  }
}
