* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}
